@charset "UTF-8";
/**
*  counter.css  - written by Victor N - 22/Nov/2013 - www.vitim.us
* Repo: https://github.com/victornpb/analog-counter-wheel
*/

/* Analog Counter Wheel Layout */
.counter {
	display: inline-block;
	overflow: hidden;
	cursor: url('wheelcursor.png'), pointer;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.counter .wheel {
	position: relative;
	
	display: table;
	text-align:center;
	cursor: inherit;
}

/* digits */
.counter .wheel div{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	cursor: inherit;
}
.counter .wheel div:nth-child(1){
	top: -100%;
}
.counter .wheel div:nth-child(2){
	top: 0;
}
.counter .wheel div:nth-child(3){
	top: 100%;
}
.counter .wheel.animate{
	transition: all ease 300ms;
}


/* dark theme */
.counter {
	width: 50px;
	height: 80px;

	border: 2px outset #999; /* Inverted from #666 */

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.7), /* Lighter for dark theme */
						0px 2px 2px rgba(0, 0, 0, 0.25); /* Darker for subtle shine */
	-moz-box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.7),
						0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 0.7),
				0px 2px 2px rgba(0, 0, 0, 0.25);

	background: #1d1d1d; /* Darker background for base */
	background: -moz-linear-gradient(top, #1d1d1d 0%, #101010 34%, #101010 61%, #3e3e3e 100%); /* Inverted gradient */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d1d1d), color-stop(34%, #101010), color-stop(61%, #101010), color-stop(100%, #3e3e3e));
	background: -webkit-linear-gradient(top, #1d1d1d 0%, #101010 34%, #101010 61%, #3e3e3e 100%);
	background: -o-linear-gradient(top, #1d1d1d 0%, #101010 34%, #101010 61%, #3e3e3e 100%);
	background: -ms-linear-gradient(top, #1d1d1d 0%, #101010 34%, #101010 61%, #3e3e3e 100%);
	background: linear-gradient(to bottom, #1d1d1d 0%, #101010 34%, #101010 61%, #3e3e3e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#3e3e3e', GradientType=0 ); /* IE6-9 */
}

.counter .wheel {
	width: 50px;
	margin-top: 15px;

	line-height: 50px;
	height: 50px;

	font-size: 50px;
	color: #e6e6e6; /* Lighter color for text */
}

.counter .wheel .digit {
	border-top: 1px solid rgba(191, 191, 191, 0.5); /* Inverted to a lighter gray */
	border-bottom: 1px solid rgba(127, 127, 127, 0.5); /* Inverted to a darker gray */
}


